body {
    background: #eee;
    text-align: center;
    padding: 0 25px;
    font-family: arial, sans-serif;
    font-size: 18px;
    width: 100%;
}
#sidebar {
    float: left;
    width: 200px;
    margin-right: 50px;
    margin-top: 80px;
}

#roomSelect, #friendSelect {
    background-color: white;
    margin: 20px 0;
    padding: 5px;
}

#allRooms {
    display: inline-block;
    margin-bottom: 20px;
}

#container {
    float: left;
    width: 600px;
}

#send {
    height: 100px;
}

#main {
    display: inline block;
    text-align: left;
    background: white;
    padding: 50px 60px;
    border: solid #ddd;
    border-width: 0 1px 1px 1px;
}

#main h1 {
    margin-top: 0;
    font-size: 35px;
    margin-bottom: 5px;
    padding: 5px;
}

#main h1 span {
    font-style:italic;
}

#main ul {
    padding-left: 20px;
}

#main .error {
    border: 1px solid red;
    background: #FDEFF0;
    padding: 20px;
}

#main .success {
    margin-top: 25px;
}

#main .success code {
    font-size: 12px;
    color: green;
    line-height: 13px;
}

form {
    padding: 20px;
    padding-left: 0;
    margin-bottom: 20px;
}

form input[type=text] {
    margin-right: 10px;
    width: 70%;
    font-size: 12px;
    padding: 5px;
}

.chat {
    padding: 5px;
    margin-bottom: 5px;
    background-color: #eee;
}

.chat .username {
    font-weight: 800;
}

.chat:hover {
    background-color: #ddd;
}

.spinner {
    float: right;
    height: 46px;
    margin-bottom: 5px;
}

.spinner img {
    padding: 10px;
}

.messageWrapper {
    border-bottom: 1px solid #D3D3D3;
    margin: 10px 0;
    padding: 10px 0;
}
